src/main/app/bookmyshow-process-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8022" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configurationinox" host="localhost" port="8025" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configurationpvr" host="localhost" port="8024" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configurationinox1" host="localhost" port="8024" doc:name="HTTP Request Configuration"/>
    <http:request-config name="HTTP_Request_Configurationcarnival" host="localhost" port="8025" doc:name="HTTP Request Configuration"/>
    <flow name="bookmyshow-process-apiFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="Object to String Convert Logs '#[payload]'" level="INFO" doc:name="logString"/>
        <scatter-gather doc:name="Scatter-Gather">
            <processor-chain>
                <logger level="INFO" doc:name="logPvr"/>
                <http:request config-ref="HTTP_Request_Configurationpvr" path="/pvr" method="GET" doc:name="HTTP"/>
            </processor-chain>
            <processor-chain>
                <logger level="INFO" doc:name="logInox"/>
                <http:request config-ref="HTTP_Request_Configurationinox1" path="/inox" method="GET" doc:name="HTTP"/>
            </processor-chain>
            <processor-chain>
                <logger level="INFO" doc:name="logCarnival"/>
                <http:request config-ref="HTTP_Request_Configurationcarnival" path="/carnival" method="GET" doc:name="HTTP"/>
            </processor-chain>
        </scatter-gather>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\json.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
data: payload]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
